@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

.app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  overflow: hidden;
  height: 70vh;
}

.app h1 {
  font-size: 3rem;
  padding: 2rem 0;
}

.app p {
  font-size: 1.2rem;
  font-weight: 400;
}

.visual img {
  width: 100px;
  position: absolute;
  left: 10px;
  bottom: 35%;
}

.visual .line {
  width: 1500px;
  height: 1px;
  background: #333;
  margin: 40px 0;
}

input {
  display: none;
}

@keyframes slide {
  from {
    left: 0%;
  }
  to {
    left: 90%;
  }
}

@media (max-width: 400px) {
  input {
    display: block;
  }
}
